# Node modules
node_modules/

# Hardhat artifacts
artifacts/
cache/

# Hardhat environment files
.env

# Coverage reports
coverage/

# Logs
*.log

# Operating system files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Build output
build/

# Miscellaneous
*.tgz
*.swp
*.swo
